<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2012-2013 Erwin Müller <erwin.mueller@deventm.org>

    This file is part of resources-templates-tests.

    resources-templates-tests is free software: you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as published by the
    Free Software Foundation, either version 3 of the License, or (at your
    option) any later version.

    resources-templates-tests is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
    FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
    details.

    You should have received a copy of the GNU Lesser General Public License
    along with resources-templates-tests. If not, see <http://www.gnu.org/licenses/>.

-->
<configuration scan="true">

	<property resource="logback.properties"/>

	<appender name="MVN_STYLE" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>[%-5level] %-4relative [%thread] %logger{15} - %msg %n</pattern>
			<immediateFlush>false</immediateFlush>
		</encoder>
	</appender>

	<appender name="FILE_DAILY"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${java.io.tmpdir}/${project.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%-5level] %-4relative [%thread] %logger{15} - %msg %n</pattern>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>

	<root level="ERROR">
		<appender-ref ref="MVN_STYLE" />
	</root>

	<logger name="com.anrisoftware" level="ERROR" />
	<logger name="com.anrisoftware.resources.images" level="ALL" />

</configuration>
