#*
 * Copyright ${project.custom.year} Erwin Müller <erwin.mueller@anrisoftware.com>
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
#*
 * version 1.0.0
 * since 4.6.2
 *#
[![Build Status]($context.get("globalpom.custom.jenkins.build.badge.main"))]($context.get("globalpom.custom.jenkins.build.link.main"))
[![Apache License, Version 2.0]($context.get("globalpom.custom.license.image.url"))](http://www.apache.org/licenses/LICENSE-2.0) © $context.get("globalpom.custom.year") $context.get("globalpom.custom.user.name")

${project.description}

#[[#]]# Links

* [Generated Site](${project.url})
* [Download (Central)]($context.get("project.custom.central.url"))
* [Source code]($context.get("project.custom.scm.repo"))
* [Source code (Github)]($context.get("project.custom.scm.github"))
* [Project Home]($context.get("project.custom.home"))
* [Project Roadmap]($context.get("project.custom.home")/roadmap)
* [Project Issues]($context.get("project.custom.home")/issues)
* [Jenkins]($context.get("project.custom.jenkins.url"))

#[[#]]# Packages Overview

![Packages Overview](images/packages.svg)
